body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#city-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 324px;
}
#city-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.header{
    color: #fff;
    background-color: #0056b3;
}
.main{
    display: flex;
    gap: 1.5em;
    align-items: center;
}
.divider{
    padding: 1px;
    color: grey;
    background-color: grey;
}

#current-weather{
    border: #333;
    border-style: solid;
    width: 100%;
}

.search-history, .weather, .forecast {
    margin-bottom: 20px;
}

.search-history ul {
    list-style: none;
    padding: 0;
}

.search-history li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.search-history li:hover {
    background-color: #f0f8ff;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.weather p, .forecast-day p {
    margin: 5px 0;
}


.forecast-day .weather-icon {
    width: 50px;
    height: 50px;
}
#forecast-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forecast-day {
    border: 1px solid #000; /* Change the color as needed */
    box-sizing: border-box; /* This makes sure the border is included in the element's total width and height */
    flex: 1 0 18%; /* This makes sure the items take up equal width */
    margin: 0.5%; /* This gives a little space between the items */
    background-color: blue;
    color: white;
}
#history-list .search-history-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%; /* This will make the button fit the width of the history-list */
    box-sizing: border-box; /* This ensures padding and border are included in the element's total width */
}